<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Homepage</title>
</head>

<body>
    <%- include("./partials/nav") %>
        Homepage

        <div class="container">
            <% blogs.forEach(blog => { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= blog.coverImageURL %>" class="card-img-top">
                    <p>
                        <%= blog.title %>
                    </p>
                    <div class="card-body">
                        <p class="card-text">
                            <%= blog.body %>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>

        <!-- <%= JSON.stringify(blogs) %> -->
        <%- include("./partials/script") %>
</body>

</html>